/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    Background-D:     #16191dff;
    Background-L:     #21252cff;
    Border-D:         #263140ff;
    Border-L:         #324867ff;
    Foreground-D:     #a3b0c2ff;
    Foreground-L:     #e0e5ebff;
}
