/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    Background-D:     #161a1dff;
    Background-L:     #21262cff;
    Border-D:         #263340ff;
    Border-L:         #324d67ff;
    Foreground-D:     #a3b3c2ff;
    Foreground-L:     #e0e6ebff;
}
