/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    Background-D:     #171c19ff;
    Background-L:     #222a26ff;
    Border-D:         #293d32ff;
    Border-L:         #36634bff;
    Foreground-D:     #a7beb2ff;
    Foreground-L:     #e2e9e5ff;
}
