/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    Background_D:     #171c19ff;
    Background_L:     #222a26ff;
    Border_D:         #293d32ff;
    Border_L:         #36634bff;
    Foreground_D:     #a7beb2ff;
    Foreground_L:     #e2e9e5ff;
}
